<template>
  <v-data-table
    class="table"
    :headers="headers"
    :items="posts"
    :rows-per-page-items="[5, 10, 25]">
    <template slot="items" slot-scope="props">
      <td class="text-xs-left">
        <v-avatar size="42">
          <img :src="randomAvatar()" alt="avatar">
        </v-avatar>
      </td>
      <td class="text-xs-left">{{ props.item.Post.userid }}</td>
      <td class="text-xs-left">{{ props.item.Post.title }}</td>
      <td class="text-xs-left">{{ props.item.Post.body }}</td>
      <td class="text-xs-left">{{ props.item.Post.image }}</td>
      <td class="text-xs-left">{{ props.item.Post.created }}</td>
      <td class="text-xs-center">
        <i class="fas fa fa-eye-slash fa-lg" v-if="props.item.Post.disable"></i>
        <i class="fas fa fa-eye fa-lg" v-else></i>
      </td>
      <td class="text-xs-center">
        <i class="fas fa fa-edit fa-lg green--text"></i>&nbsp;
        <i class="fas fa-trash-alt fa-lg red--text"></i>
      </td>
    </template>
  </v-data-table>
</template>

<script>

const avatars = [
  'https://avataaars.io/?accessoriesType=Blank&avatarStyle=Circle&clotheColor=PastelGreen&clotheType=ShirtScoopNeck&eyeType=Wink&eyebrowType=UnibrowNatural&facialHairColor=Black&facialHairType=MoustacheMagnum&hairColor=Platinum&mouthType=Concerned&skinColor=Tanned&topType=Turban',
  'https://avataaars.io/?accessoriesType=Sunglasses&avatarStyle=Circle&clotheColor=Gray02&clotheType=ShirtScoopNeck&eyeType=EyeRoll&eyebrowType=RaisedExcited&facialHairColor=Red&facialHairType=BeardMagestic&hairColor=Red&hatColor=White&mouthType=Twinkle&skinColor=DarkBrown&topType=LongHairBun',
  'https://avataaars.io/?accessoriesType=Prescription02&avatarStyle=Circle&clotheColor=Black&clotheType=ShirtVNeck&eyeType=Surprised&eyebrowType=Angry&facialHairColor=Blonde&facialHairType=Blank&hairColor=Blonde&hatColor=PastelOrange&mouthType=Smile&skinColor=Black&topType=LongHairNotTooLong',
  'https://avataaars.io/?accessoriesType=Round&avatarStyle=Circle&clotheColor=PastelOrange&clotheType=Overall&eyeType=Close&eyebrowType=AngryNatural&facialHairColor=Blonde&facialHairType=Blank&graphicType=Pizza&hairColor=Black&hatColor=PastelBlue&mouthType=Serious&skinColor=Light&topType=LongHairBigHair',
  'https://avataaars.io/?accessoriesType=Kurt&avatarStyle=Circle&clotheColor=Gray01&clotheType=BlazerShirt&eyeType=Surprised&eyebrowType=Default&facialHairColor=Red&facialHairType=Blank&graphicType=Selena&hairColor=Red&hatColor=Blue02&mouthType=Twinkle&skinColor=Pale&topType=LongHairCurly',
  'https://avataaars.io/?'
];

export default {
  data() {
    return {
      posts: [],
      headers: [
        {
          value: 'Avatar',
          align: 'left',
          sortable: false
        },
        {
          text: 'User',
          value: 'userid',
          align: 'left',
          sortable: true
        },
        {
          text: 'Title',
          value: 'title',
          align: 'left',
          sortable: true
        },
        {
          text: 'Content',
          value: 'body',
          align: 'left',
          sortable: true
        },
        {
          text: 'Image',
          value: 'image',
          align: 'left',
          sortable: true
        },
        {
          text: 'Created at',
          value: 'created',
          align: 'left',
          sortable: true
        },
        {
          text: 'Disable',
          value: 'disable',
          align: 'left',
          sortable: true
        },
        {
          text: 'Action',
          align: 'left',
          sortable: false
        }
      ]
    }
  },

  methods: {
    randomAvatar () {
      return avatars[Math.floor(Math.random() * avatars.length)];
    }
  },

  created() {
    const vm = this;
    vm.axios.get('http://blog.com/posts/list.json').then(response => {
      var result = response && response.data.posts;

      vm.posts = result;
    });
  }
}
</script>

<style>
  .table {
    border-radius: 3px;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.21);
    background-color: transparent;
  }
</style>
